
/vendor
/node_modules
/public/C:\xampp\htdocs\storage\framework\views
/public/C:\xampp\htdocs\storage\framework\views
/public/C:\xampp\htdocs\storage\framework\views
/public/C:\xampp\htdocs\storage\framework\views
