
/* to view every table as table visuals */

/* Optional: Add style if needed to enhance table visuals */  
    table {  
        border-collapse: collapse;  
        width: 70%;  
        margin: 0 auto;  
    }  
    th, td {  
        border: 1px solid #ddd;  
        padding: 8px;  
        text-align: center; /* Center align text horizontally */  
        vertical-align: middle; /* Center align text vertically */  
    }  
    th {  
        background-color: #f2f2f2;  
    }  
