
/* move.css */

/* 
الكود يهدف إلى تحسين تجربة المستخدم عند التفاعل مع عناصر الإدخال في نموذج  
(form) عبر إضافة تأثيرات بصرية تجعل هذه العناصر أكثر وضوحًا وجاذبية عند التركيز عليها.
 */


.form-control:focus {
    border-color: #007bff; /* تغيير لون الحدود */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* تأثير الظل */
}

.form-check-input:focus {
    outline: none; /* إزالة الإطار الافتراضي */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.8); /* زيادة تأثير الظل */
    border: 2px solid #007bff; /* إضافة لون حدود أوضح */
}

/* إضافة تأثير إضافي للراديو عند التركيز */
.form-check-input:checked:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.8); /* تعزيز تأثير الظل عند التحديد */
}


